<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>智慧业务-财务</title>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_545610_unke9y3ln7wlv7vi.css" />
		<link rel="stylesheet" type="text/css" href="css/business_finance_market.css" />
	</head>

	<body>
		<div class="main">
			<!-- 市场分布 -->
			<div class="personnel">
				<!-- 市场分布 -->
				<p class="content-title" style="height: 10%;">
					市场分布
				</p>
				<!-- 市场分布地图 -->
				<div class="market-distribution-map" id="marketMapId"></div>
				<div class="market-distribution-bar" id="marketBarId">
					
				</div>
			</div>
			
		</div>
		<script src="js/jquery-1.10.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/echarts2-all.js" type="text/javascript" charset="utf-8"></script>
       <script type="text/javascript" src="js/china.js"></script>
		<script src="js/business_finance_market.js" type="text/javascript" charset="utf-8"></script>
	
	</body>

</html>