<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>数据中心云平台</title>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/cloud_chart.css" />
	</head>

	<body>
		<div class="main">
			<!-- 图表数据 -->
			<div class="resource-chart">
				<div class="speci-container">
					<p class="model-title">CPU</p>
					<div class="specifications">
						<div class="pie-charts pie-charts-desc">
							<div class="pie-desc-content">
								共<span id="cpuTotalId">000</span>核
							</div>
						</div>
						<div class="pie-charts border0" id="cpuRateCharts"></div>
						<div class="speci-desc">
							<p>已使用<span id="cpuUseId">000</span>核</p>
							<p>未使用<span id="cpuUnUseId">000</span>核</p>
						</div>
					</div>
				</div>

				<div class="speci-container">
					<p class="model-title">内存</p>
					<div class="specifications">
						<div class="pie-charts pie-charts-desc">
							<div class="pie-desc-content">
								共<span id="memoryTotalId">000</span>T
							</div>
						</div>
						<div class="pie-charts" id="memoryRateCharts"></div>
						<div class="speci-desc">
							<p>已使用<span id="memoryUseId">000</span>T</p>
							<p>未使用<span id="memoryUnUseId">000</span>T</p>
						</div>
					</div>
				</div>

				<div class="speci-container">
					<p class="model-title">存储</p>
					<div class="specifications">
						<div class="pie-charts pie-charts-desc">
							<div class="pie-desc-content">
								共<span id="storageTotalId">000</span>T
							</div>
						</div>
						<div class="pie-charts" id="storageRateCharts"></div>
						<div class="speci-desc">
							<p>已使用<span id="storageUseId">000</span>T</p>
							<p>未使用<span id="storageUnUseId">000</span>T</p>
						</div>
					</div>
				</div>

			</div>

			<!-- 网络流量 -->
			<div class="network-flux">
				<div class="real-time-flow">
					<div class="real-flux" id="realFluxCharts"></div>
				</div>

			</div>
		</div>
		<script src="js/jquery-1.10.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/echarts-liquidfill.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/cloud_chart.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>