<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>背景动画</title>
    
    <!-- <link rel="stylesheet" href="./static/styles/animate.min.css"> -->
    <link rel="stylesheet" href="./static/styles/index.css">
</head>

<body>
    <div class="containerSecond">
       <div class="containerContent" >
            <div class="displaynone Manufacture_parent center_light">
                <div class="wrap_title">
                    <img src="static/imgs/secondLevel/public_wrap.png" class="displaynone"/>
                </div>
                <div class="wrap_center_0">
                    <img src="static/imgs/secondLevel/wrap_center_0.png" class="displaynone"/>
                </div>
                <div class="wrap_center_1">
                    <img src="static/imgs/secondLevel/wrap_center_1.png" class="displaynone"/>
                </div>
                <div class="wrap_center_2">
                    <img src="static/imgs/secondLevel/wrap_center_2.png" class="displaynone"/>
                </div>
                <div class="displaynone wrap_center_3"></div>
                <div class="displaynone wrap_center_4"></div>
            </div>
            <div class="displaynone business_parent center_light">
                <div class="wrap_title">
                    <img src="static/imgs/secondLevel/public_wrap.png" class="displaynone"/>
                </div>
                <div class="wrap_center_0">
                    <img src="static/imgs/secondLevel/wrap_center_0.png" class="displaynone"/>
                </div>
                <div class="wrap_center_1">
                    <img src="static/imgs/secondLevel/wrap_center_1.png" class="displaynone"/>
                </div>
                <div class="wrap_center_2">
                    <img src="static/imgs/secondLevel/wrap_center_2.png" class="displaynone"/>
                </div>
                <div class="wrap_center_3">
                    <img src="static/imgs/secondLevel/wrap_center_3.png" class="displaynone"/>
                </div>
                <div class="displaynone wrap_center_4"></div>
            </div>
            <div class="displaynone product_parent center_light">
                <div class="wrap_title">
                    <img src="static/imgs/secondLevel/public_wrap.png" class="displaynone"/>
                </div>
                <div class="wrap_center_0">
                    <img src="static/imgs/secondLevel/wrap_center_0.png" class="displaynone"/>
                </div>
                <div class="wrap_center_1">
                    <img src="static/imgs/secondLevel/wrap_center_1.png" class="displaynone"/>
                </div>
                <div class="wrap_center_2">
                    <img src="static/imgs/secondLevel/wrap_center_2.png" class="displaynone"/>
                </div>
                <div class="wrap_center_3">
                    <img src="static/imgs/secondLevel/wrap_center_3.png" class="displaynone"/>
                </div>
                <div class="displaynone wrap_center_4"></div>
            </div>
            <div class="displaynone park_parent center_light">
                <div class="wrap_title">
                    <img src="static/imgs/secondLevel/public_wrap.png" class="displaynone"/>
                </div>
                <div class="wrap_center_0">
                    <img src="static/imgs/secondLevel/wrap_center_0.png" class="displaynone"/>
                </div>
                <div class="wrap_center_1">
                    <img src="static/imgs/secondLevel/wrap_center_1.png" class="displaynone"/>
                </div>
                <div class="wrap_center_2">
                    <img src="static/imgs/secondLevel/wrap_center_2.png" class="displaynone"/>
                </div>
                <div class="wrap_center_3">
                    <img src="static/imgs/secondLevel/wrap_center_3.png" class="displaynone"/>
                </div>
                <div class="displaynone wrap_center_4"></div>
            </div>
            <div class="displaynone data_parent center_light">
                <div class="wrap_title">
                    <img src="static/imgs/secondLevel/public_wrap.png" class="displaynone"/>
                </div>
                <div class="wrap_center_0">
                    <img src="static/imgs/secondLevel/wrap_center_0.png" class="displaynone"/>
                </div>
                <div class="wrap_center_1">
                    <img src="static/imgs/secondLevel/wrap_center_1.png" class="displaynone"/>
                </div>
                <div class="wrap_center_2">
                    <img src="static/imgs/secondLevel/wrap_center_2.png" class="displaynone"/>
                </div>
                <div class="wrap_center_3">
                    <img src="static/imgs/secondLevel/wrap_center_3.png" class="displaynone"/>
                </div>
                <div class="displaynone wrap_center_4"></div>
            </div>
            <div id="codeLizi"></div>
       </div>
    </div>

    <script src="./static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(".containerSecond").animate({'opacity': '1'}, 1000);
    </script>
    <script type="text/javascript" src="./static/js/echarts.min.js"></script>
    <script type="text/javascript" src="./static/js/secondLevel.js"></script>



    </script>
</body>

</html>