
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1473644821'); /* IE9*/
  src: url('iconfont.eot?t=1473644821#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1473644821') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1473644821') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1473644821#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-warn:before { content: "\e712"; }
.icon-guanbi2:before { content: "\e711"; }
.icon-user_set:before { content: "\e700"; }
.icon-share:before { content: "\e720"; }
.icon-jiazai:before { content: "\e702"; }
.icon-liuliangzhichi:before { content: "\e713"; }
.icon-weixin2:before { content: "\e751"; }
.icon-weixin1:before { content: "\e750"; }
.icon-shuaxin2:before { content: "\e706"; }
.icon-guanyu:before { content: "\e701"; }
.icon-huancun:before { content: "\e707"; }
.icon-saoyisao:before { content: "\e752"; }
.icon-xinxi:before { content: "\e709"; }
.icon-shezhi2:before { content: "\e710"; }
.icon-fyixuanze-block:before { content: "\e704"; }
.icon-fxuanze-none:before { content: "\e703"; }
.icon-zichan:before { content: "\e708"; }
.icon-message_b:before { content: "\e721"; }
.icon-message_a:before { content: "\e722"; }
.icon-yuyin_b:before { content: "\726"; }
.icon-yuyin_a:before { content: "\e725"; }
.icon-shebei_b:before { content: "\e728"; }
.icon-shebei_a:before { content: "\e727"; }
.icon-home_b:before { content: "\e724"; }
.icon-home_a:before { content: "\e723"; }
