<div class="navbar">
    <div class="navbar-inner">
    	<div class="left">
    		<a href="#" class="link back">
    			<i class="icon icon-back"></i>
    		</a>
    	</div>
        <div class="center sliding">云平台</div>
        <div class="right">
          
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="CloudPlat" class="page" id="CloudPlat">
        <div class="page-content">
          <div class="" style="height: 8%;"></div>
          <div style="width:100%;height:80%;overflow-y: scroll;">
              <div class="row">
                <div class="col-5"></div>
                <div class="touchBtn" eq_no="300" set_no="11">
                  <p></p>
                  <i class="icon iconfont icon-manyou" style="font-size: 0.6rem !important;margin-bottom: 0;"></i>
                  <p>开始漫游</p>
                </div>
                 <div class="touchBtn" eq_no="300" set_no="75">
                  <p></p>
                  <i class="icon iconfont icon-manyou" style="font-size: 0.6rem !important;margin-bottom: 0;"></i>
                  <p>停止漫游</p>
                </div>
                <div class="touchBtn"  eq_no="300" set_no="12">
                  <p></p>
                  <i class="icon iconfont icon-zuoyebaojing"></i>
                  <p>节点报警</p>
                </div>
                 <div class="touchBtn" eq_no="300" set_no="74">
                  <p></p>
                  <i class="icon iconfont icon-manyou" style="font-size: 0.6rem !important;margin-bottom: 0;"></i>
                  <p>解除报警</p>
                </div>
               
                
                <div class="col-5"></div>
            </div>
            <div class="row">
              <div class="col-5"></div>
              <div class="touchBtn"  eq_no="300" set_no="51">
                  <p></p>
                  <i class="icon iconfont icon-yunzhujiico"></i>
                  <p>计算机节点1</p>
              </div>
               <div class="touchBtn"  eq_no="300" set_no="52">
                <p></p>
                <i class="icon iconfont icon-yunzhujiico"></i>
                <p>计算机节点2</p>
              </div>
               <div class="touchBtn"  eq_no="300" set_no="53">
                <p></p>
                <i class="icon iconfont icon-yunzhujiico"></i>
                <p>计算机节点3</p>
              </div>
              <div class="touchBtn"  eq_no="300" set_no="54">
                <p></p>
                <i class="icon iconfont icon-yunzhujiico"></i>
                <p>计算机节点4</p>
              </div>
              
              <div class="col-5"></div>
            </div>
             <div class="row">
              <div class="col-5"></div>
              <div class="touchBtn"  eq_no="300" set_no="60">
                  <p></p>
                  <i class="icon iconfont icon-yunzhujiico"></i>
                  <p>计算机节点5</p>
              </div>
               <div class="touchBtn"  eq_no="300" set_no="61">
                <p></p>
                <i class="icon iconfont icon-yunzhujiico"></i>
                <p>计算机节点6</p>
              </div>
               <div class="touchBtn"  eq_no="300" set_no="62">
                <p></p>
                <i class="icon iconfont icon-yunzhujiico"></i>
                <p>计算机节点7</p>
              </div>
              <div class="touchBtn"  eq_no="300" set_no="63">
                <p></p>
                <i class="icon iconfont icon-yunzhujiico"></i>
                <p>计算机节点8</p>
              </div>
              
              <div class="col-5"></div>
            </div>
             <div class="row">
              <div class="col-5"></div>
              <div class="touchBtn"  eq_no="300" set_no="64">
                  <p></p>
                  <i class="icon iconfont icon-yunzhujiico"></i>
                  <p>计算机节点9</p>
              </div>
               <div class="touchBtn"  eq_no="300" set_no="65">
                <p></p>
                <i class="icon iconfont icon-yunzhujiico"></i>
                <p>计算机节点10</p>
              </div>
               <div class="touchBtn"  eq_no="300" set_no="66">
                <p></p>
                <i class="icon iconfont icon-yunzhujiico"></i>
                <p>计算机节点11</p>
              </div>
              <div class="touchBtn"  eq_no="300" set_no="67">
                <p></p>
                <i class="icon iconfont icon-yunzhujiico"></i>
                <p>计算机节点12</p>
              </div>
              
              <div class="col-5"></div>
            </div>
             <div class="row">
              <div class="col-5"></div>
              <div class="touchBtn"  eq_no="300" set_no="68">
                  <p></p>
                  <i class="icon iconfont icon-yunzhujiico"></i>
                  <p>计算机节点13</p>
              </div>
               <div class="touchBtn"  eq_no="300" set_no="69">
                <p></p>
                <i class="icon iconfont icon-yunzhujiico"></i>
                <p>计算机节点14</p>
              </div>
               <div class="touchBtn"  eq_no="300" set_no="70">
                <p></p>
                <i class="icon iconfont icon-yunzhujiico"></i>
                <p>计算机节点15</p>
              </div>
              <div style="width:1.6rem;">
                
              </div>
              
              <div class="col-5"></div>
            </div>
            <!-- <div class="row">
              <div class="col-5"></div>
              <div class="touchBtn"  eq_no="300" set_no="55">
                <p></p>
                <i class="icon iconfont icon-zuoyebaojing"></i>
                <p>云主机2报警</p>
              </div>
               <div class="touchBtn"  eq_no="300" set_no="56">
                <p></p>
                <i class="icon iconfont icon-zuoyebaojing"></i>
                <p>云主机3报警</p>
              </div>
              <div class="touchBtn"  eq_no="300" set_no="57">
                <p></p>
                <i class="icon iconfont icon-zuoyebaojing"></i>
                <p>云主机4报警</p>
              </div>
              <div class="col-5"></div>
            </div> -->
          </div>
        </div>
        <div id="loading" style="width: 100%;height: 100%;top: 0px;left:0;margin:0 0;background: rgba(0,0,0,0.2);z-index: 999;position: fixed;display: none;">
			            <div class="page-content">
			            	<div class="" style="height: 33%;"></div>
			            	<div class="row">
			            		<div class="col-33"></div>
			            		<div class="col-33" style="text-align: center;">
			            			 <span style="width:42px; height:42px" class="preloader preloader-white"></span>
			            		</div>
			            		<div class="col-33"></div>
			            		
			            	</div>
			            	<p class="color-white" style="text-align: center;">操作执行中...</p>
			       </div>
			</div>
    </div>
</div>