<div class="navbar">
    <div class="navbar-inner">
    	<div class="left">
    		<a href="#" class="link back">
    			<i class="icon icon-back"></i>
    		</a>
    	</div>
        <div class="center sliding">能源管理</div>
        <div class="right">
          
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="ManageEnergy" class="page" id="ManageEnergy">
        <div class="page-content">
          <div class="" style="height: 8%;"></div>
          <div  style="width:100%;height:80%;overflow-y: scroll;">
              <div class="row">
                <div class="col-5"></div>
                <div class="touchBtn" eq_no="300" set_no="13">
                  <i class="icon iconfont icon-manyou"></i>
                  <p >开始漫游</p>
                </div>
                <div class="touchBtn" eq_no="300" set_no="77">
                  <i class="icon iconfont icon-manyou"></i>
                  <p >停止漫游</p>
                </div>
                <div class="touchBtn" eq_no="300" set_no="14">
                  <i class="icon iconfont icon-zuoyebaojing"></i>
                  <p >能源报警</p>
                </div>
                <div class="touchBtn" eq_no="300" set_no="76">
                  <i class="icon iconfont icon-manyou"></i>
                  <p >解除报警</p>
                </div>
               
                <div class="col-5"></div>
            </div>

            <div class="row">
              <div class="col-5"></div>

                <div class="touchBtn" eq_no="300" set_no="80">
                  <i class="icon iconfont icon-manyou"></i>
                  <p >园区大门</p>
                </div>
                <div class="touchBtn" eq_no="300" set_no="313">
                  <i class="icon iconfont icon-manyou"></i>
                  <p >生活区</p>
                </div>
                <div class="touchBtn" eq_no="300" set_no="314">
                  <i class="icon iconfont icon-manyou"></i>
                  <p >园区全景</p>
                </div>
                 <div class="touchBtn" eq_no="300" set_no="45">
                  <i class="icon iconfont icon-dianyuanchatou"></i>
                  <p >生产大楼用电</p>
                </div>

                <div class="col-5"></div>
            </div>
            <div class="row">
                <div class="col-5"></div>
                  <div class="touchBtn" eq_no="300" set_no="46">
                    <i class="icon iconfont icon-dianyuanchatou"></i>
                    <p >1楼用电</p>
                  </div>
                  <div class="touchBtn" eq_no="300" set_no="47">
                    <i class="icon iconfont icon-dianyuanchatou"></i>
                    <p >2楼用电</p>
                  </div> 
                  <div class="touchBtn" eq_no="300" set_no="48">
                    <i class="icon iconfont icon-dianyuanchatou"></i>
                    <p >3楼用电</p>
                  </div>
                  <div class="touchBtn" eq_no="300" set_no="49">
                    <i class="icon iconfont icon-dianyuanchatou"></i>
                    <p >4楼用电</p>
                  </div>
                 <div class="col-5"></div>
             
            </div>
            <div class="row">
                  <div class="col-5"></div>
                      <div class="touchBtn" eq_no="300" set_no="50">
                        <i class="icon iconfont icon-dianyuanchatou"></i>
                        <p >5楼用电</p>
                      </div>
                      <div style="width: 1.6rem"></div>
                      <div style="width: 1.6rem"></div>
                      <div style="width: 1.6rem"></div>
                <div class="col-5"></div>
            </div>
            
          </div>
        	
           	
           
        </div>
        <div id="loading" style="width: 100%;height: 100%;top: 0px;left:0;margin:0 0;background: rgba(0,0,0,0.2);z-index: 999;position: fixed;display: none;">
			            <div class="page-content">
			            	<div class="" style="height: 33%;"></div>
			            	<div class="row">
			            		<div class="col-33"></div>
			            		<div class="col-33" style="text-align: center;">
			            			 <span style="width:42px; height:42px" class="preloader preloader-white"></span>
			            		</div>
			            		<div class="col-33"></div>
			            		
			            	</div>
			            	<p class="color-white" style="text-align: center;">操作执行中...</p>
			       </div>
		</div>
    </div>
</div>
