<div class="navbar">
    <div class="navbar-inner">
        <div class="center sliding">实时快照</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="iconfont icon-caidan"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="message" class="page" id="message">
        <!--"pull-to-refresh-content"类表示下拉刷新 -->
        <div id="message_pg_content" class="page-content pull-to-refresh-content" data-ptr-distance="55">
            <!-- 默认的下拉刷新层 -->
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div class="list-block list-page" style="margin:0;">
                <ul id="list_message">
                    <li>
                        <a href="plug/MessageList.html?0" class="item-link item-content message_color_1">
                            <div class="item-media"><i class="iconfont icon-guanbi2"></i></div>
                            <div class="item-inner" id="MessageList_0">
                                <div class="item-title">故障</div>
                                <div class="item-after"><span class="badge" id="bgSnapshot_1">0</span></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="plug/MessageList.html?1" class="item-link item-content message_color_2">
                            <div class="item-media"><i class="iconfont icon-warn"></i></div>
                            <div class="item-inner" id="MessageList_1">
                                <div class="item-title">警告</div>
                                <div class="item-after"><span class="badge" id="bgSnapshot_2">0</span></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="plug/MessageList.html?2" class="item-link item-content message_color_3">
                            <div class="item-media"><i class="iconfont icon-xinxi"></i></div>
                            <div class="item-inner" id="MessageList_2">
                                <div class="item-title">信息</div>
                                <div class="item-after"><span class="badge" id="bgSnapshot_3">0</span></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="plug/MessageList.html?3" class="item-link item-content message_color_4">
                            <div class="item-media"><i class="iconfont icon-shezhi2"></i></div>
                            <div class="item-inner" id="MessageList_3">
                                <div class="item-title">设置</div>
                                <div class="item-after"><span class="badge" id="bgSnapshot_4">0</span></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="plug/MessageList.html?4" class="item-link item-content message_color_5">
                            <div class="item-media"><i class="iconfont icon-zichan"></i></div>
                            <div class="item-inner" id="MessageList_4">
                                <div class="item-title">资产</div>
                                <div class="item-after"><span class="badge" id="bgSnapshot_5">0</span></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>