<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="link back">
				<i class="icon icon-back"></i>
			</a>
		</div>
		<div class="center sliding">
			生产工艺
		</div>
		<div class="right">
			
		</div>
	</div>
</div>
<div class="pages">
	<div class="page" data-page="productTechnology" id="productTechnology">
		<div class="page-content">
  			<div class="" style="height: 8%;"></div>
  			<div class="row">
       		<div class="col-5"></div>
       		<div class="touchBtn" eq_no="300" set_no="15">
       			<i class="icon iconfont icon-manyou"></i>
       			<p >开始漫游</p>
       		</div>
          <div class="touchBtn" eq_no="300" set_no="79">
            <i class="icon iconfont icon-manyou"></i>
            <p >停止漫游</p>
          </div>
          <div class="touchBtn"  eq_no="300" set_no="16" >
            <i class="icon iconfont icon-zuoyebaojing" > </i>
            <p>印刷机报警</p>
          </div>
          <div class="touchBtn" eq_no="300" set_no="78">
            <i class="icon iconfont icon-manyou"></i>
            <p >解除报警</p>
          </div>
       		
           <div class="col-5"></div>
        </div>
        <div class="row">
          <div class="col-5"></div>
          <div class="touchBtn"  eq_no="300" set_no="19" >
            <i class="icon iconfont icon-shebeixinghao" > </i>
            <p>表面处理</p>
          </div>
          <div class="touchBtn" eq_no="300" set_no="20">
            <i class="icon iconfont icon-shebeixinghao"></i>
            <p>模切加工</p>
          </div>
          <div class="touchBtn"  eq_no="300" set_no="21" >
            <i class="icon iconfont icon-shebeixinghao" > </i>
            <p>纸盒组装</p>
          </div>
          <div style="width: 1.6rem;"></div>
          <div class="col-5"></div>
        </div>
      
           		
      </div>
		</div>
	</div>
</div>