<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="iconfont icon-back"></i>
            </a>
        </div>
        <div class="center sliding">个人信息</div>
    </div>
</div>
<div class="pages">
    <div data-page="UserInfor" class="page" id="UserInfor">
        <div class="page-content">
            <div class="list-block" style="margin:0;">
                <ul>
                    <li class="item-content">
                        <div class="item-inner" style="text-align:center;">
                            <div class="item-title" id="userInfors"></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title userInforImg">
                                <img id="userRichScan" src="" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>