<div class="navbar">
    <div class="navbar-inner">
    	<div class="left">
    		<a href="#" class="link back">
    			<i class="icon icon-back"></i>
    		</a>
    	</div>
        <div class="center sliding">视频监控</div>
        <div class="right">
          
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="videoMonitor" class="page" id="videoMonitor">
        <div class="page-content">
        	<div class="" style="height: 8%;"></div>
          
              <div class="row">
                <div class="col-5"></div>
                    <div class="touchBtn" eq_no="300" set_no="13" >
                      <i class="icon iconfont icon-manyou"></i>
                     <p >开始漫游</p>
                    </div>
                    <div class="touchBtn" eq_no="300" set_no="77" >
                      <i class="icon iconfont icon-manyou"></i>
                     <p >停止漫游</p>
                    </div>
                    <div class="touchBtn"  eq_no="300" set_no="59" >
                        <i class="icon iconfont icon-fangkeshuxing" > </i>
                        <p>访客异常</p>
                    </div> 
                    <div class="touchBtn"  eq_no="300" set_no="76" >
                        <i class="icon iconfont  icon-manyou" > </i>
                        <p>解除异常</p>
                    </div>
                <div class="col-5"></div>
            </div>

           	<div class="row">
           		<div class="col-5"></div>
              <div class="touchBtn" eq_no="300" set_no="80">
                  <i class="icon iconfont icon-manyou"></i>
                  <p >重置漫游</p>
                </div>
               <div class="touchBtn" eq_no="300" set_no="25">
                  <i class="icon iconfont icon-monitor"></i>
                  <p >生产区大门内</p>
                </div>
                <div class="touchBtn"  eq_no="300" set_no="27" >
                  <i class="icon iconfont icon-monitor" > </i>
                  <p>生产区通道内</p>
                </div>
             		<div class="touchBtn"  eq_no="300" set_no="26" >
                  <i class="icon iconfont icon-monitor" > </i>
                  <p>A栋西南角</p>
                </div>
               
              <!--<div class="col-25" style="width:1.8rem"></div>-->
             <!--  <div  style="width:1.6rem"></div> -->
           		<div class="col-5"></div>
           	</div>
            
           
        </div>
        <div id="loading" style="width: 100%;height: 100%;top: 0px;left:0;margin:0 0;background: rgba(0,0,0,0.2);z-index: 999;position: fixed;display: none;">
			            <div class="page-content">
			            	<div class="" style="height: 33%;"></div>
			            	<div class="row">
			            		<div class="col-33"></div>
			            		<div class="col-33" style="text-align: center;">
			            			 <span style="width:42px; height:42px" class="preloader preloader-white"></span>
			            		</div>
			            		<div class="col-33"></div>
			            		
			            	</div>
			            	<p class="color-white" style="text-align: center;">操作执行中...</p>
			       </div>
		</div>
    </div>
</div>
